@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

:host {
  display: block;
  .badge {
    color: #FFFFFF;
    border-radius: 4px 0;
    padding: 4px;
    vertical-align: top;

    &.GET {
      background-color: #4290ff;
    }

    &.POST {
      background-color: #ea910d;
    }

    &.PUT {
      background-color: #7dd356;
    }

    &.PATCH {
      background-color: #c74fff;
    }

    &.DELETE {
      background-color: #ea352c;
    }
  }

  .request, .result {
    border-top-left-radius: 4px;
  }

  .annotation-method {
    color: #eab00e;
    display: inline;
  }

  .annotation-config {
    position: absolute;
    background-color: #cae7bd;
    border: 2px solid black;
    border-radius: 8px;
    z-index: 3;
  }

  .annotation-config-ellipsis:before {
    background-color: #7dd356;
    color: green;
    content: '...';
    margin: 0 5px;
    line-height: 0.9em;
    display: inline-block;
  }
  .details {
    flex-flow: row nowrap;
    &.show, &.collapsing {
      display: flex;
    }

    > {
      flex: auto;
    }

    form {
      display: flex;
      flex-flow: row nowrap;
    }

    .result {
      &.bg-danger {
        background-color: lighten($danger, 40) !important;
      }

      &.bg-success {
        background-color: lighten($success, 40) !important;
      }
    }
  }
}
